<div class="about-container">
    <h1>About Me</h1>
    <p>Hi, I'm Miguel, a 20-year-old dedicated and passionate developer who thrives on solving complex problems and creating efficient, impactful solutions. I’m currently pursuing a degree in Systems Information at UTFPR and have been gaining valuable hands-on experience through internships, where I’ve worked with technologies like Angular, CSS, and XSDs.</p>
    <p>Beyond my technical skills, I’m someone who values collaboration, precision, and continuous learning. I believe that the best results come from a blend of creativity and logic, and that’s what drives me every day to innovate and grow in the tech world. Whether I'm designing intuitive user interfaces or developing powerful back-end systems, I’m always eager to learn and improve my craft.</p>
    <p>When I’m not coding, you can often find me exploring new technologies or enjoying time with my loved ones.</p>
</div>
