<div class="projects-container">
    <h1>My Projects</h1>
    <div class="project-list">
        <div class="project-item">
            <h2>Finance Bot</h2>
            <p>Finance bot for WhatsApp that records expenses and generates automatic reports with charts.</p>
            <a href="https://github.com/Miguel3074/finance-bot" target="_blank">GitHub Repo</a>
            <img src="assets/projects/finance-bot.jpg" alt="Finance Bot Preview">
        </div>
        
        <div class="project-item">
            <h2>Email Refiner</h2>
            <p>Classifies and suggests responses for emails using Groq API and Flask.</p>
            <a href="https://github.com/Miguel3074/EmailClassification" target="_blank">GitHub Repo</a>
            <img src="assets/projects/email-refiner.PNG" alt="Email Refiner Preview">
        </div>

        <div class="project-item">
            <h2>JokerBet</h2>
            <p>Fictional betting site with login, banking registration, and a card game in Angular.</p>
            <a href="https://github.com/Miguel3074/JokerBet" target="_blank">GitHub Repo</a>
            <img src="assets/projects/joker-bet.PNG" alt="JokerBet Preview">
        </div>

        <div class="project-item">
            <h2>UberMusic</h2>
            <p>Web app that allows Uber passengers to control the car’s playlist via Spotify API.</p>
            <a href="https://github.com/Miguel3074/UberMusic" target="_blank">GitHub Repo</a>
        </div>

        <div class="project-item">
            <h2>Xadrez 2</h2>
            <p>Mario-style game made in C++ with SFML to practice OOP and collisions.</p>
            <a href="https://github.com/Miguel3074/xadrez-2" target="_blank">GitHub Repo</a>
        </div>

        <div class="project-item">
            <h2>Ping Pong OS</h2>
            <p>Simulation of an operating system implemented in C++.</p>
            <a href="https://github.com/Miguel3074/PingPongOS/tree/master/ping-pong-os" target="_blank">GitHub Repo</a>
        </div>
    </div>
</div>