<div class="projects-container">
    <h1>My Projects</h1>
    <div class="project-list">
        <div class="project-item">
            <h2>Finance Bot</h2>
            <p>Bot de finanças para WhatsApp que registra gastos e gera relatórios automáticos com gráficos.</p>
            <a href="https://github.com/Miguel3074/finance-bot" target="_blank">GitHub Repo</a>
            <img src="assets/projects/finance-bot.jpg" alt="Finance Bot Preview">
        </div>
        
        <div class="project-item">
            <h2>Email Refiner</h2>
            <p>Classifica e sugere respostas para emails utilizando API do Groq e Flask.</p>
            <a href="https://github.com/Miguel3074/EmailClassification" target="_blank">GitHub Repo</a>
            <img src="assets/projects/email-refiner.PNG" alt="Email Refiner Preview">
        </div>

        <div class="project-item">
            <h2>JokerBet</h2>
            <p>Site de apostas fictício com login, registro bancário e jogo de cartas em Angular.</p>
            <a href="https://github.com/Miguel3074/JokerBet" target="_blank">GitHub Repo</a>
            <img src="assets/projects/joker-bet.PNG" alt="JokerBet Preview">
        </div>

        <div class="project-item">
            <h2>UberMusic</h2>
            <p>Web app que permite passageiros de Uber controlarem a playlist do carro via Spotify API.</p>
            <a href="https://github.com/Miguel3074/UberMusic" target="_blank">GitHub Repo</a>
        </div>

        <div class="project-item">
            <h2>Xadrez 2</h2>
            <p>Jogo estilo Mario feito em C++ com SFML para treinar POO e colisões.</p>
            <a href="https://github.com/Miguel3074/xadrez-2" target="_blank">GitHub Repo</a>
        </div>

        <div class="project-item">
            <h2>Ping Pong OS</h2>
            <p>Simulação de um sistema operacional implementado em C++.</p>
            <a href="https://github.com/Miguel3074/PingPongOS/tree/master/ping-pong-os" target="_blank">GitHub Repo</a>
        </div>
    </div>
</div>